.img_logo{
    width:8%;
    height:8%;
    object-fit: contain;
}
.navbar__div{
    width:100%;
    background-color: #131A22;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top:10px;
    padding-bottom:10px;
}

@media only screen and (min-width: 768px) {
    .input__div{
       display: flex;
       align-items: center;
       width:38%;
       margin-left:20px;
       padding:0;
       background-color: white;
       height:40px;
       border-radius: 5px;
      
    
    }
    
    .search_icondiv{
        background-color: #FEBD69;
      height:100%;
        align-items: center;
        display: flex;
        justify-content: center;
        width:10%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
       
    }
    .input__field{
        width:100%;
        outline: none;
        border: none;
        height:30px;
        margin-left: 5px;
    }

}