.loginform__div{
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}
.img_logo1{
    width:8%;
    height:8%;
    object-fit: contain;

}
.btnclass{
    background-color:orange;
    display: block;
    text-align: center;
}
.input__field{
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    color: #111;
    width:50%;

}
.maindiv{
    display:flex;
    justify-content: center;
}